
<style>
 .tox-notification{
   display:none !important;
 }
</style>
<div class="modal fade" id="addNewsModal" tabindex="-1" aria-labelledby="addNewsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add: News</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- form starts -->
        <form method="POST" action="{% url 'add_news'%}" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="exampleInputEmail1">News Title</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="news_title" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                  <label for="exampleFormControlTextarea1">News Description</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" required name="news_description"></textarea >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                  <label for="exampleFormControlTextarea1">News Category:</label>
                  <input type="text" class="form-control" id="exampleFormControlTextarea1"  required name="news_category">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  <label for="exampleFormControlTextarea1">News Link:</label>
                  <input type="url" class="form-control" id="exampleFormControlTextarea1"  required name="news_url">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="exampleFormControlFile1">News Cover</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="news_cover" required>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="featured" value=1>
            <label class="form-check-label" for="exampleCheck1">Feature this news</label>
          </div>
         <div class="float-right">
           <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button>
           <button type="submit"  class="btn btn-primary">Save Data</button>
         </div>
        </form>
        <!-- form ends -->
      </div>
    </div>
  </div>
</div>
