<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> -->
<style>
 .tox-notification{
   display:none !important;
 }
</style>
<script src="https://cdn.tiny.cloud/1/30h4n7mvg0u2p41o4jsx8y4fb4ev21mqq6j8xbs3nmbgf236/tinymce/6/tinymce.min.js"></script>
<div class="modal fade" id="researchModal" tabindex="-1" aria-labelledby="facultyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add: Seminar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- form starts -->
        <form method="POST" action="{% url 'add_seminer'%}" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="exampleInputEmail1">Seminer Title</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="seminer_title" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                  <label for="exampleFormControlTextarea1">Seminar Description</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required name="seminer_description"></textarea >
              </div>
            </div>
          </div>
          <div class="form-group">
              <label for="exampleFormControlTextarea1">Seminar Details</label>
              <textarea class="form-control" id="research_include" name="seminer_details"></textarea>
          </div>
          <script>
            tinymce.init({
              selector: '#research_include',
              height: 200,
              plugins: 'lists advlist',
              toolbar: 'bullist',
              menubar:false,
              statusbar: false,
            });
          </script>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                  <label for="exampleFormControlTextarea1">Seminer speakers:</label>
                  <input type="text" class="form-control" id="exampleFormControlTextarea1"  required name="seminer_speakers">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  <label for="exampleFormControlTextarea1">Seminer location:</label>
                  <input type="text" class="form-control" id="exampleFormControlTextarea1"  required name="seminer_location">
              </div>
            </div>
          </div>
          <!-- date and time picker starts  -->
          <div class="row">
              <div class='col'>
                  <label for="exampleFormControlFile1">Seminer Data & Time</label>
                  <input type='text' class="form-control" id='datetimepicker1' name="seminer_datetime" required/>
              </div>

          </div>
          <!-- date and time picker ends -->

          <div class="form-group">
            <label for="exampleFormControlFile1">Seminer Cover</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="seminar_cover" required>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="featured" value=1>
            <label class="form-check-label" for="exampleCheck1">Feature this seminer</label>
          </div>
         <div class="float-right">
           <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button>
           <button type="submit"  class="btn btn-primary">Save Data</button>
         </div>
        </form>
        <!-- form ends -->
      </div>
    </div>
  </div>
</div>
