
<div class="modal fade" id="editStudentServiceModal" tabindex="-1" aria-labelledby="editStudentServiceModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Student Service</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- form starts -->
        <form id="edit_form" method="POST" action="#" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="exampleInputEmail1">Service Title</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="service_name_edit" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="exampleInputEmail1">Service Link</label>
                <input type="url" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="service_link_edit" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="exampleInputPassword1">Service Description</label>
                <textarea  class="form-control" id="exampleInputPassword1" name="service_description_edit" rows=5 required></textarea>
              </div>
            </div>
          </div>
            <div class="form-group">
              <div style="margin-top:20px"><img id="service_cover_edit" src="" alt="" style="height:100px; width:100px; object-fit:cover"></div>
              <label for="exampleFormControlFile1">Service Cover</label>
              <input type="file" onchange="document.getElementById('service_cover_edit').src = window.URL.createObjectURL(this.files[0])" class="form-control-file" id="exampleFormControlFile1" name="service_cover_edit" >
            </div>
           <div class="float-right">
             <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button type="submit"  class="btn btn-primary">Save Data</button>
           </div>
        </form>
        <!-- form ends -->
      </div>
    </div>
  </div>
</div>
