
<div class="modal fade" id="editComputing" tabindex="-1" aria-labelledby="editComputing" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- form starts -->
        <form id="edit_form" method="POST" action="{% url 'add_computing'%}" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="exampleInputEmail1">Computing Header</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="computing_heading" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Computing Type</label>
                <select class="form-control" id="computing_type" name="computing_type">
                  <option value="Image">Image</option>
                  <option value="Video">Video</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row" id="computing_video">
            <div class="col">
              <div class="form-group">
                <label for="exampleInputEmail1">Video Url</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="computing_url">
              </div>
            </div>
          </div>
            <div class="form-group" id="computing_image">
              <label for="exampleFormControlFile1">Image Upload</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1" name="computing_image">
            </div>
           <div class="float-right">
             <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button type="submit"  class="btn btn-primary">Save Data</button>
           </div>
        </form>
        <!-- form ends -->
      </div>
    </div>
  </div>
</div>
