{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>University of New Haven | Department of Chemistry</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- styles -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">
  <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static '/css/bootstrap-responsive.css' %}" rel="stylesheet">
  <link href="{% static '/css/docs.css' %}" rel="stylesheet">
  <link href="{% static '/css/prettyPhoto.css' %}" rel="stylesheet">
  <link href="{% static '/js/google-code-prettify/prettify.css' %}" rel="stylesheet">
  <link href="{% static '/css/flexslider.css' %}" rel="stylesheet">
  <link href="{% static '/css/sequence.css' %}" rel="stylesheet">
  <link href="{% static '/css/style.css' %}" rel="stylesheet">
  <link href="{% static '/color/default.css' %}" rel="stylesheet">
  <link href="{% static '/css/popup.css' %}" rel="stylesheet">

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="{% static '/ico/favicon.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static '/ico/apple-touch-icon-144-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static '/ico/apple-touch-icon-114-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static '/ico/apple-touch-icon-72-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" href="{% static '/ico/apple-touch-icon-57-precomposed.png' %}">



</head>

<body>
  <header>
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!-- logo -->
          <a class="brand logo" href="{% url 'index' %}"><img src="{% static '/img/logo.png' %}" alt=""></a>
          <!-- end logo -->
          <!-- top menu -->
          <div class="navigation">
            <nav>
              <ul class="nav topnav">
                <li class="dropdown {% if request.resolver_match.url_name == "index" %}active{% endif %}">
                  <a href="{% url 'index' %}">Home</a>
                </li>
                <li class="dropdown {% if request.resolver_match.url_name == 'bschemistry' or request.resolver_match.url_name == 'bschemical' or request.resolver_match.url_name == 'msbiomedical' or request.resolver_match.url_name == 'certificateprograms' or request.resolver_match.url_name == 'mschemistry' %}active{% endif %}">
                  <a href="#">Academic Programs</a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'bschemistry' %}">BS Chemistry</a></li>
                    <li><a href="{% url 'bschemical' %}">BS Chemical Engineering</a></li>
                    <li><a href="{% url 'mschemistry' %}">MS Chemistry</a></li>
                    <li><a href="{% url 'msbiomedical' %}">MS Biomedical Engineering</a></li>
                    <li><a href="{% url 'certificateprograms' %}">Certificate Programs</a></li>
                  </ul>
                </li>
                <li class="dropdown {% if request.resolver_match.url_name == 'view_faculty' or request.resolver_match.url_name == 'view_staff' or request.resolver_match.url_name == 'view_student' %}active{% endif %}">
                  <a href="#">People</a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'view_faculty' %}">Faculty</a></li>
                    <li><a href="{% url 'view_staff' %}">Staff</a></li>
                    <li><a href="{% url 'view_student' %}">Student</a></li>
                  </ul>
                </li>
                <li class="dropdown {% if request.resolver_match.url_name == 'research_chemistry' or request.resolver_match.url_name == 'research_chemical' or request.resolver_match.url_name == 'research_biomedical' or request.resolver_match.url_name == 'research_s_energy' or request.resolver_match.url_name == 'research_medical' %}active{% endif %}">
                  <a href="#">Research</a>
                  <ul class="dropdown-menu">
                    <li class="dropdown"><a href="#">By Areas</a>
                      <ul class="dropdown-menu sub-menu">
                        <li><a href="{% url 'research_chemistry' %}">Chemistry</a></li>
                        <li><a href="{% url 'research_chemical' %}">Chemical Engineering</a></li>
                        <li><a href="{% url 'research_biomedical'%}">Biomedical Engineering</a></li>
                      </ul>
                    </li>
                    <li class="dropdown"><a href="#">By Direction</a>
                      <ul class="dropdown-menu sub-menu">
                        <li><a href="{% url 'research_s_energy'%}">Sustainability Energy</a></li>
                        <li><a href="{% url 'research_medical'%}">Medical</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="dropdown {% if request.resolver_match.url_name == 'course_announcements' or request.resolver_match.url_name == 'seminars' %}active{% endif %}">
                  <a href="#">Teaching Events</a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'course_announcements'%}">Course Announcements</a></li>
                    <li><a href="{% url 'seminars' %}">Seminars</a></li>
                  </ul>
                </li>
                <li class="dropdown {% if request.resolver_match.url_name == 'lab_facilites' or request.resolver_match.url_name == 'computing' or request.resolver_match.url_name == 'student_services'  %}active{% endif %}">
                  <a href="#">Resources</a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'lab_facilites' %}">Lab Facility</a></li>
                    <li><a href="{% url 'computing' %}">Computing</a></li>
                    <li><a href="{% url 'student_services'%}">Student Services</a></li>
                  </ul>
                </li>
                <li class="{% if request.resolver_match.url_name == "news" %}active{% endif %}">
                  <a href="{% url 'news'%}">News</a>
                </li>
                <li class="{% if request.resolver_match.url_name == "contact" %}active{% endif %}">
                  <a href="{% url 'contact'%}">About & Contact</a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- end menu -->
        </div>
      </div>
    </div>
  </header>
  {% block content %}

  {% endblock %}
  <!-- =================== Footer ============================ -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="span4">
          <div class="widget">
            <ul class="regular">
              <li><a href="https://www.newhaven.edu/covid19/index.php">COVID-19 Info</a></li>
              <li><a href="https://www.newhaven.edu/news/">News</a></li>
              <li><a href="https://www.newhaven.edu/about/campus-locations/index.php">Campus Locations and Maps</a></li>
              <li><a href="https://www.newhaven.edu/academics/library/">Library</a></li>
              <li><a href="https://www.newhaven.edu/about/employment/">Employment</a></li>
            </ul>
          </div>
        </div>
        <div class="span4">
          <div class="widget">
            <ul class="regular">
              <li><a href="https://www.newhaven.edu/directory/">Faculty & Staff Directory</a></li>
              <li><a href="https://www.newhaven.edu/about/departments/information-technology/support.php">Information Technology Support</a></li>
              <li><a href="https://mycharger.newhaven.edu/">MyCharger</a></li>
              <li><a href="https://blackboard.newhaven.edu/">Blackboard</a></li>
              <li><a href="https://portal.office.com/">Alumni Email</a></li>
            </ul>
          </div>
        </div>
        <div class="span2">
          <div class="widget">
            <!-- logo -->
            <a class="brand logo" href="#">
              <img src="{% static 'img/University_of_New_Haven_logo.png' %}" alt="" style="width: 130px; height: 110px;">
            </a>
            <!-- end logo -->
          </div>
        </div>
        <div class="span2">
          <div class="widget">
            <address>
              <strong>University of New Haven</strong><br>
              300 Boston Post Rd.<br>
              West Haven, CT 06516<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
          </div>
          <div>
            <a class="btn btn-success" href="{% url 'login_page' %}" target="_blank">Admin Login</a>
          </div>
        </div>
      </div>
    </div>
    <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="span6">
            <p>
              &copy; University of New haven - All right reserved
            </p>
          </div>
          <div class="span6">
            <div class="credits">
              Designed by <a href="https://www.unh.com/">University of New Haven</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- JavaScript Library Files -->
  <script src="{% static '/js/jquery.min.js' %}"></script>
  <script src="{% static '/js/jquery.easing.js' %}"></script>
  <script src="{% static '/js/google-code-prettify/prettify.js' %}"></script>
  <script src="{% static '/js/modernizr.js' %}"></script>
  <script src="{% static '/js/bootstrap.js' %}"></script>
  <script src="{% static '/js/jquery.elastislide.js' %}"></script>
  <script src="{% static '/js/sequence/sequence.jquery-min.js' %}"></script>
  <script src="{% static '/js/sequence/setting.js' %}"></script>
  <script src="{% static '/js/jquery.prettyPhoto.js' %}"></script>
  <script src="{% static '/js/application.js' %}"></script>
  <script src="{% static '/js/jquery.flexslider.js' %}"></script>
  <script src="{% static '/js/hover/jquery-hover-effect.js' %}"></script>
  <script src="{%static '/js/hover/setting.js' %}"></script>
  <!-- Template Custom JavaScript File -->
  <script src="{% static '/js/custom.js' %}"></script>
  {% block script %}
  {% endblock %}
</body>
</html>
