{% extends "layouts/admin.html" %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/flatly/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.css' %}" >
{% endblock %}
{% block content %}
<main class="content">
	<div class="container-fluid p-0">
		  <div class="d-flex justify-content-between pb-5">
		  	<h1 class="h3 mb-3"><strong>Events:</strong> Seminars</h1>
				<button class="btn btn-sm btn-info" data-toggle="modal" data-target="#researchModal">Add Data</button>
		  </div>
			{% if messages %}
							{% for message in messages %}
							<div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible  show "{% endif %} role="alert">
									{{ message }}
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
							</div>
							{% endfor %}
			{% endif %}

      <div>
						<table id="example" class="display" style="width:100%">
				        <thead>
				            <tr>
				                <th>#</th>
				                <th>Seminar Title</th>
				                <th>Time</th>
				                <th>Action</th>
				            </tr>
				        </thead>
				        <tbody>
									{% for value in data %}
				            <tr>
				                <td>
													 	{% if value.featured == 1 %}
																		<i class="fa fa-bookmark" aria-hidden="true"></i>
														{% endif %}
														{{ forloop.counter }}
												</td>
				                <td>

													<img src="/media/{{ BASIC_DIR }}/{{value.seminar_cover}}" alt="" style="height:30px; width:30px; border-radius: 4px; "/>
													{{ value.seminer_title}}
												</td>
				                <td>{{ value.seminer_datetime}}</td>
				                <td>
													<a href="{{ value.id }}/view"> <button class="btn btn-sm btn-info">View</button> </a>
				                	<button data-id="{{ value.id }}"  class="btn btn-sm btn-primary edit-btn" data-toggle="modal" data-target="#editresearchModal">Edit</button>
													<button  data-id="{{ value.id }}" data-page="research/by-area" class="btn btn-sm btn-danger del-btn" data-toggle="modal" data-target="#deleteModal">Delete</button>
				                </td>
				            </tr>
										{% endfor %}
				        </tbody>
				    </table>

      </div>
  </div>
</main>
{% include '../modals/addSeminars.html' %}
{% include '../modals/deleteModal.html' %}
{% include '../modals/editResearchArea.html' %}
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
		$(document).ready(function () {
		    $('#example').DataTable();
		});
</script>
<script type="text/javascript" src="{% static 'js/deleteData.js' %}">
</script>
<script type="text/javascript" src="{% static 'js/editResearchAreaData.js' %}">
</script>
<!-- date time picker js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript">
				$(function () {
						$('#datetimepicker1').datetimepicker({
							format:'YYYY-MM-DD HH:MM',
						});
				});
</script>
{% endblock %}
