{% extends "chemistryAdmin/base.html" %}
{% load static %}
{% block content %}
  <section id="subintro">
    <div class="jumbotron subhead" id="overview">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="centered">
              <h3>Faculty & Members</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="breadcrumb">
    <div class="container">
      <div class="row">
        <div class="span12">
          <ul class="breadcrumb notop">
            <li><a href="#">Home</a><span class="divider">/</span></li>
            <li class="active">Faculty</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span9">
          <!-- start article 1 -->
          <article class="blog-post">
            <div class="row">
              <div class="span2">
                <div class="post-image">
                  <a href="#"><img src="{% static '/img/dummies/Dequan1.jpg' %}" alt="" style="height:180px; width:180px; border-radius: 8px; "/></a>
                </div>
              </div>
              <div class="span6">
                <div class="post-heading">
                  <h5><a href="#">Dequan Xiao, PhD</a></h5>
                  <i>Jacob F. Buckman Chair and Associate Professor</i></br>
                </div>
                <div class="clearfix">
                  <ul>
                    <li>Chemistry Graduate Program Coordinator, 2018-present</li>
                    <li>Campus Director, NASA CT Space Grant Consortium, 2014-2019</li>
                    <li>University Research Scholar, 2016-2019</li>
                  </ul>
                  <p>Dequan Xiao is the director of Center for Integrative Materials Discovery and Endowed Jacob F. Buckman Chair and Associate Professor at the University of New Haven (UNH). He joined the faculty of UNH in August 2013. He teaches the courses of Physical Chemistry and Laboratory, and Polymer Science. He is the coordinator for Physical Chemistry Laboratory.</p>
                  <button class="btn btn-small btn-success" type="button">Read more</button>
                </div>
              </div>
            </div>
          </article>
          <!-- end article 1 -->
          <!-- start article 2 -->
          <article class="blog-post">
            <div class="row">
              <div class="span2">
                <div class="post-image">
                  <a href="#"><img src="{% static '/img/dummies/Ho-Yin1.jpg' %}" alt="" style="height:180px; width:180px; border-radius: 8px; "/></a>
                </div>
              </div>
              <div class="span6">
                <div class="post-heading">
                <h3><a href="#">Dequan Xiao, PhD</a></h3>
                  <i>Jacob F. Buckman Chair and Associate Professor</i></br>
            </div>
                <div class="clearfix">
                </div>
                <ul>
                  <li>Chemistry Graduate Program Coordinator, 2018-present</li>
                  <li>Campus Director, NASA CT Space Grant Consortium, 2014-2019</li>
                  <li>University Research Scholar, 2016-2019</li>
                </ul>
                <p>Dequan Xiao is the director of Center for Integrative Materials Discovery and Endowed Jacob F. Buckman Chair and Associate Professor at the University of New Haven (UNH). He joined the faculty of UNH in August 2013. He teaches the courses of Physical Chemistry and Laboratory, and Polymer Science. He is the coordinator for Physical Chemistry Laboratory.</p>
                <button class="btn btn-small btn-success" type="button">Read more</button>
              </div>
            </div>
          </article>
          <!-- end article 2 -->
          <!-- start article 3 -->
          <article class="blog-post">
            <div class="row">
              <div class="span2">
                <div class="post-image">
                  <a href="#"><img src="{% static '/img/dummies/Dequan1.jpg' %}" alt="" style="height:180px; width:180px; border-radius: 8px; "/></a>
                </div>
              </div>
              <div class="span6">
                <div class="post-heading">
                <h3><a href="#">Dequan Xiao, PhD</a></h3>
                  <i>Jacob F. Buckman Chair and Associate Professor</i></br>
            </div>
                <div class="clearfix">
                  <ul>
                    <li>Chemistry Graduate Program Coordinator, 2018-present</li>
                    <li>Campus Director, NASA CT Space Grant Consortium, 2014-2019</li>
                    <li>University Research Scholar, 2016-2019</li>
                  </ul>
                  <p>Dequan Xiao is the director of Center for Integrative Materials Discovery and Endowed Jacob F. Buckman Chair and Associate Professor at the University of New Haven (UNH). He joined the faculty of UNH in August 2013. He teaches the courses of Physical Chemistry and Laboratory, and Polymer Science. He is the coordinator for Physical Chemistry Laboratory.</p>
                  <button class="btn btn-small btn-success" type="button">Read more</button>
                </div>
              </div>
            </div>
          </article>
          <!-- end article 3 -->
          <!-- start article 4 -->
          <article class="blog-post">
            <div class="row">
              <div class="span2">
                <div class="post-image">
                  <a href="#"><img src="{% static '/img/dummies/Dequan1.jpg' %}" alt="" style="height:180px; width:180px; border-radius: 8px; "/></a>
                </div>
              </div>
              <div class="span6">
                <div class="post-heading">
                <h3><a href="#">Dequan Xiao, PhD</a></h3>
                  <i>Jacob F. Buckman Chair and Associate Professor</i></br>
            </div>
                <div class="clearfix">
                </div>
                <ul>
                  <li>Chemistry Graduate Program Coordinator, 2018-present</li>
                  <li>Campus Director, NASA CT Space Grant Consortium, 2014-2019</li>
                  <li>University Research Scholar, 2016-2019</li>
                </ul>
                <p>Dequan Xiao is the director of Center for Integrative Materials Discovery and Endowed Jacob F. Buckman Chair and Associate Professor at the University of New Haven (UNH). He joined the faculty of UNH in August 2013. He teaches the courses of Physical Chemistry and Laboratory, and Polymer Science. He is the coordinator for Physical Chemistry Laboratory.</p>
                <button class="btn btn-small btn-success" type="button">Read more</button>
              </div>
            </div>
          </article>
          <!-- end article 4 -->

          <div class="pagination">
            <ul>
              <li><a href="#">Prev</a></li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </div>
        </div>
        <div class="span3">
          <aside>
            <div class="widget">
              <form class="form-search">
                <input placeholder="Type something" type="text" class="input-medium search-query">
                <button type="submit" class="btn btn-flat btn-color">Search</button>
              </form>
            </div>
            <div class="widget">
              <h4>Apply Online</h4>
              <p>Please use the link the below to apply for the MS-CHEM program.</p>
              <a href="https://graduate.newhaven.edu/apply/">https://graduate.newhaven.edu/apply/</a>
            </div>
            <div class="widget">
              <h4>Contact Information</h4>
              <p>Please contact the graduate program coordinator if you have any questions about the application.</p>
              <p><a href="#">Dequan Xiao</a>, PHD</p>
              <p>Department of Chemistry and Chemical Engineering</p>
              <address>
                West Haven, CT 06516 <br>
                Tel: 203-479-4189 <br>
                Email: dxiao@newhaven.edu <br>

              </address>
            </div>
        <!--    <div class="widget">
              <h4>Recent posts</h4>
              <ul class="recent-posts">
                <li><a href="#">Lorem ipsum dolor sit amet munere commodo ut nam</a>
                  <div class="clear">
                  </div>
                  <span class="date"><i class="icon-calendar"></i> 6 March, 2013</span>
                  <span class="comment"><i class="icon-comment"></i> 4 Comments</span>
                </li>
                <li><a href="#">Sea nostrum omittantur ne mea malis nominavi insolens</a>
                  <div class="clear">
                  </div>
                  <span class="date"><i class="icon-calendar"></i> 6 March, 2013</span>
                  <span class="comment"><i class="icon-comment"></i> 2 Comments</span>
                </li>
                <li><a href="#">Eius graece recusabo no pri odio tale quo id, mea at saepe</a>
                  <div class="clear">
                  </div>
                  <span class="date"><i class="icon-calendar"></i> 4 March, 2013</span>
                  <span class="comment"><i class="icon-comment"></i> 12 Comments</span>
                </li>
                <li><a href="#">Malorum deserunt at nec usu ad graeco elaboraret at rebum</a>
                  <div class="clear">
                  </div>
                  <span class="date"><i class="icon-calendar"></i> 3 March, 2013</span>
                  <span class="comment"><i class="icon-comment"></i> 3 Comments</span>
                </li>
              </ul>
            </div>
            <div class="widget">
              <h4>Tags</h4>
              <ul class="tags">
                <li><a href="#" class="btn">Tutorial</a></li>
                <li><a href="#" class="btn">Tricks</a></li>
                <li><a href="#" class="btn">Design</a></li>
                <li><a href="#" class="btn">Trends</a></li>
                <li><a href="#" class="btn">Online</a></li>
              </ul>
            </div> -->
          </aside>
        </div>
      </div>
    </div>
  </section>
 {% endblock content %}