{% extends "chemistryAdmin/base.html" %}
{% load static %}
{% block content %}
  <section id="subintro">
    <div class="jumbotron subhead" id="overview">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="centered">
              <h3>Research on Chemistry</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="breadcrumb">
    <div class="container">
      <div class="row">
        <div class="span12">
          <ul class="breadcrumb notop">
            <li><a href="#">Home</a><span class="divider">/</span></li>
            <li class="active">Chemistry Research</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span12">
          <!-- start article 1 -->
          <article class="blog-post">
            <div class="row">
              <div class="post-heading">
                <h3 style="text-align: center;">Analytical Core for the Environment (ACE)</h3>
              </div>
              <div class="span2">
                <div class="post-image">
                  <a href="#"><img src="{% static '/img/research/ACEprofessor.png' %}" alt="" style="height:180px; width:180px; border-radius: 8px; "/></a>
                </div>
              </div><br>
              <div class="span6">
                <div class="clearfix">
                  <p>ACE, led by Dr. Chong Qiu, focuses on new analytical chemistry
                  instruments and approaches to address environmental issues,
                  especially air pollution caused by aerosol/particulate
                  matters. Some projects are supported by the NSF, are highly
                  interdisciplinary and provide students hands-on experience in
                  building and utilizing state-of-the-art instruments.</p>
                  <!-- popup content 1 -->
                  <div class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h3>Publications</h3>
                    </div>
                    <div class="modal-body">
                      <h4>PUBLICATIONS</h4>
                      <p>
                        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.
                      </p>
                      <h4>Popover in a modal</h4>
                      <p>
                        This <a href="#" role="button" class="btn popover-test" title="A Title" data-content="And here's some amazing content. It's very engaging. right?">button</a> should trigger a popover on click.
                      </p>
                      <h4>assssssssssssssss</h4>
                      <p>
                        <a href="#" class="tooltip-test" title="Tooltip">This link</a> and <a href="#" class="tooltip-test" title="Tooltip">that link</a> should have tooltips on hover.
                      </p>
                      <hr>
                      <h4>Overflowing text to show optional scrollbar</h4>
                      <p>
                        We set a fixed <code>max-height</code> on the <code>.modal-body</code>. Watch it overflow with all this extra lorem ipsum text we've included.
                      </p>
                      <p>
                        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                      </p>
                      <p>
                        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                      </p>
                      <p>
                        Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                      </p>
                      <p>
                        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                      </p>
                      <p>
                        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                      </p>
                      <p>
                        Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button class="btn" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  <a data-toggle="modal" href="#myModal" class="btn btn-success btn-small">Publication</a>
                  <!-- END popup content 2 -->
                </div>
              </div>
              <div class="span4">
                <h6 style="text-align: center;">Current projects include:</h6>
                  <ul>
                    <li>Soot aging and changes in its optical properties</li>
                    <li>The fate of amines in the atmosphere</li>
                    <li> Numeric simulation of aerosol composition and property changes</li>
                  </ul>
              </div>
            </div>
          </article>
          <!-- end article 1 -->
        </div>
        <div class="span12">
          <!-- start article 2 -->
          <article class="blog-post">
            <div class="row">
              <div class="post-heading">
                <h3 style="text-align: center;">Analytical Core for the Environment (ACE)</h3>
              </div>
              <div class="span3">
                <div class="post-image">
                  <a href="#"><img src="{% static '/img/research/ACEprofessor.png' %}" alt="" style="height: 200px; width:220px; border-radius: 8px; "/></a>
                </div>
              </div><br>
              <div class="span6">
                <div class="clearfix">
                  <p>ACE, led by Dr. Chong Qiu, focuses on new analytical chemistry
                  instruments and approaches to address environmental issues,
                  especially air pollution caused by aerosol/particulate
                  matters. Some projects are supported by the NSF, are highly
                  interdisciplinary and provide students hands-on experience in
                  building and utilizing state-of-the-art instruments.</p>
                  <!-- popup content 2 -->
                  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h3 id="myModalLabel">Publications</h3>
                    </div>
                    <div class="modal-body">
                      <iframe width="500" height="300" src="https://www.youtube.com/embed/y1yhTh1Qg8o"></iframe>
                      <h4>Patents</h4>
                        <ul>
                          <li><span><a href="#">Qihai Xiao</a></span> and <span><a href="#">Dequan Xiao</a></span>, "Smokeless and Halogen-Free Expanding Fire-Retardant Electric Wire Materials with Thermoplastic Elastomer and Production Thereof", China Patent, 200510121081.</li>
                          <li><span><a href="#">Qihai Xiao</a></span> and <span><a href="#">Dequan Xiao</a></span>, "Low Smoke Non-Halogen Fire Retarding Expansive Polyolefins Electronic Wire Material and Preparation Process Thereof", China Patent, 200510121080.</li>
                        </ul>
                      <h4>Conference Talks</h4>
                        <ul>
                          <li><span><a href="#">Dequan Xiao</a></span>,<span><a href="#">Weitao Yang</a></span>, and <span><a href="#">David N. Beratan</a></span> , "Inverse Molecular Design for Nonlinear Optical Materials", DARPA Predicting Real Optimized Materials (PROM) Program Review Meeting, San Francisco, CA, March 8-9, 2005.</li>
                          <li>Dequan Xiao, Weitao Yang, and David N. Beratan, "Inverse Molecular Design in A Tight-Binding Framework", American Physical Society March Meeting, New Orleans, LA, March 10-14, 2008.</li>
                          <li>Dequan Xiao, Kunhua Lin, Qiang Fu, and Qinjian Yin, "Polymeric Nanocomposite Comprising Size-Controlled Organic Nanostructures via Copolymer-Directed Self-Assembly", American Physical Society March Meeting, Pittsburgh, PA, March 16-20, 2009.</li>
                          <li>Dequan Xiao, Robert C. Snoeberger III, and Victor S. Batista, "Inverse Design of Molecular Chromophores for Dye-Sensitized Solar Cells", Connecticut Quantum Chemistry Meeting at Yale University, January 22, 2010.</li>
                          <li>Dequan Xiao, Robert C. Snoeberger III, Lauren A. Martini, Robert H. Crabtree, and Victor S. Batista, "Inverse Design of Molecular Chromophores for Dye-Sensitized Solar Cells", 240th American Chemical Society National Meeting and Exposition, Boston, MA, August 22-26, 2010.</li>
                        </ul>
                      <h4>Conference Posters</h4>
                        <ul>
                          <li>Dequan Xiao, Weitao Yang, and David N. Beratan, "Inverse Molecular Design for Nonlinear Optical Materials", DARPA Predicting Real Optimized Materials (PROM) Program Review Meeting, San Francisco, CA, March 8-9, 2005.</li>
                          <li>Xiangqian Hu, Dequan Xiao, Weitao Yang, and David N. Beratan, "Inverse Design for Nonlinear Optical Materials by the Linear Combination of Atomic Potentials (LCAP) Method", Symposium on Photonics at the Frontiers of Science and Technology (Fitzpatrick Institute for Photonics 6th Annual Meeting), Durham, NC, September 28-29, 2006.</li>
                          <li>Xiangqian Hu, Dequan Xiao, Shahar Keinan, Weitao Yang, Michael J. Therien, Koen Clays, and David N. Beratan, "Understanding and Predicting the Frequency Dependent First-Hyperpolarizabilities Based on Linear Absorption Spectra and Generalized Sum Rules", Symposium on Photonics at the Frontiers of Science and Technology (Fitzpatrick Institute for Photonics 8th Annual Meeting), Durham, NC, October 13-14, 2008.</li>

                        </ul>
                    </div>
                    <div class="modal-footer">
                      <button class="btn" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  <a data-toggle="modal" href="#myModal" class="btn btn-success btn-small">Publication</a>
                  <!-- END popup content 2 -->
                </div>
              </div>
              <div class="span3">
                <h6 style="text-align: center;">Current projects include:</h6>
                  <ul>
                    <li>Soot aging and changes in its optical properties</li>
                    <li>The fate of amines in the atmosphere</li>
                    <li> Numeric simulation of aerosol composition and property changes</li>
                  </ul>
              </div>
              <div class="popup" id="popup">
                <img src="emergency.png">
                <h2>Research</h2>
                <p>The research details will be here!!!!</p>
                <button class="btn btn-small btn-success" type="button" onclick="closePopup()">ok</button>
		    </div>
            </div>
          </article>
          <!-- end article 1 -->
        </div>
      </div>
    </div>
  </section>
 {% endblock content %}
