{% extends "layouts/guest.html" %}
{% load static %}
{% block content %}
  <section id="subintro">
    <div class="jumbotron subhead" id="overview">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="centered">
              <h3>Certificate Programs</h3>
              <p>
                Lorem ipsum dolor sit amet, modus salutatus honestatis ex mea. Sit cu probo putant. Nam ne impedit atomorum.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="breadcrumb">
    <div class="container">
      <div class="row">
        <div class="span12">
          <ul class="breadcrumb notop">
            <li><a href="#">Home</a><span class="divider">/</span></li>
            <li class="active">Certificate Programs</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="maincontent">
    <div class="container">
      <div class="row">
        <article class="blog-post">
            <div class="post-heading">
              <h3 style="text-align: center;">How To Apply</h3>
            </div><br>
            <div class="row">
              <div class="span9">
                <h4>Application to the MS-CHEM Program</h4>
                <p>Applicants to the master of science in chemistry program must have earned or be close to earning a bachelor’s degree in chemistry
                or related STEM fields and must meet some background course requirements in BS-CHEM as specified here. In addition:</p>
              </div>
              <div class="span9">
                <ul style="list-style-type: square;">
                  <li><b>GPA requirement:</b> Admission will usually require a 3.0 grade point average on a 4.0 scale. </li>
                  <li><b>Transcripts:</b>  Applicants will submit an official transcript displaying the seal of the institution and signed by the registrar. </li>
                  <li><b>Letters of recommendation:</b> No more than three letters of recommendations are required. Students must submit only
                  three letters written by those best suited to comment on the student’s academic and/or research skills </li>
                  <li><b>Personal Statement: </b> Students must submit a personal statement about their background including life experiences, why
                  they want to pursue a master’s degree in chemistry, and what are their personal aspirations and career goals. </li>
                  <li><b>TOEFL/IELTS/PTE:</b> : A minimum overall score of 75 in TOEFL, a minimum overall score of 6.0 in IELTS, or a minimum score
                  of 50 in PTE . Applicants who have earned or will earn a bachelor’s degree will be exempt from submitting a TOEFL/IELTS
                  score if the degree was earned from an institution where the language of instruction is English.  </li>
                  <li><b>GRE:</b>The GRE is NOT required for the master’s program.</li>
                </ul>
              </div>

              <div class="span9">
                <h4>Apply Online!</h4>
                <p>Please use the link the below to apply for the MS-CHEM program.</p>
                <a>https://graduate.newhaven.edu/apply/</a>
              </div><br>

              <div class="span9">
                <h4>Application to a BS+MS 5-Year (4+1) Program in Liaison with MS-CHEM</h4>
                <p>
                  For applicants who do not hold a BS degree, you can apply for a special BS+MS 5-year program in Liaison with MS-CHEM. By this
                  program, you will get a BS degree in your chosen major (e.g., Chemistry or Forensic Science) in the 4th year, and a MS degree in
                  chemistry in the 5-th year. This program allows you to save one-year of study time and financial cost on earning both BS and MS
                  degrees, and provide you better opportunity to pursue for a PhD study or to excel in your future career.
                  To apply for this special program, you must meet the admission requirements of your chosen BS program. As long as you maintain
                  an overall GPA of 3.0 or above by the end of your 2nd year of BS program study, you will be advised to take the courses for the BSMS 5-year program starting in your 3rd-year.
                </p>
              </div>
              <div class="span9">
                <h4>Apply Online!</h4>
                <p>Please use the link the below to apply for an undergraduate program (e.g., Chemistry or Forensic Science) that is in liaison with
                the MS-CHEM program. Once you are admitted into the BS program, you can contact your BS coordinator or then MS chemistry
                program coordinator to sign up for the BS+MS (4+1) program.</p>
                <a>https://www.newhaven.edu/admissions/apply/</a>
              </div>
            </div>
          </article>
      </div>
    </div>
  </section>
 {% endblock content %}
