{% extends "layouts/guest.html" %}
{% load static %}
{% block content %}
  <section id="subintro">
    <div class="jumbotron subhead" id="overview">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="centered">
              <h3>Certificate Programs</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="breadcrumb">
    <div class="container">
      <div class="row">
        <div class="span12">
          <ul class="breadcrumb notop">
            <li><a href="#">Home</a><span class="divider">/</span></li>
            <li class="active">Certificate Programs</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="maincontent">
    <div class="container">
      <div class="row">
        <article class="blog-post">
            <div class="post-heading">
              <h3 style="text-align: center; color:blue;">Advanced Materials Graduate Certificate (12 credits)</h3>
            </div><br>
            <div class="row">
              <div class="span12">
                <h3>Program description</h3>
                <p>
                  With the development of modern computational science and materials synthesis and characterization methods in experiments, the materials research and development in industry has been expedited dramatically. This program is designed for students who hope to pursue for a career in materials industry, such as the industrial sectors of metals, glass, semiconductors, ceramics, and polymer materials. Students will study computational chemistry skills for simulating and analyzing materials and experimental knowledges and methods in chemical analysis, solid-state chemistry, and polymer materials.
                  The certificate program is available for students with a BS degree in physical sciences, engineering, or medical science who hope to acquire specialized knowledge and skills relevant to the materials industry.
                </p><br>
                <b>Here are the expected program outcomes for students:</b>
                <ol>
                  <li>Demonstrate understanding of the fundamental concepts and techniques of experimental and theoretical chemistry methods in advanced materials,</li>
                  <li>Demonstrating the basic computational methods and skills for molecular or materials simulations,</li>
                  <li>Effectively communicate the knowledge in oral presentations</li>
                </ol><br>
                <div class="well">
                  <div class="centered">
                    <h4>Admission Requirements</h4>
                    <p>Students must have a BS degree in physical sciences, engineering, and medical science, with a GPA of 2.75 or above. Students should have the necessary knowledge at the undergraduate level in Organic Chemistry and Physical Chemistry or other equivalent courses. Professional experiences will be taken into consideration for the admission.</p>
                  </div>
                </div><p>The <span><b>Advanced Materials Graduate Certificate (Certificate-AM)</b></span> program at the University of New Haven (UNH) is a 1-year 12-credit hours program. As the minimal requirement, every student needs to complete 1 required (3 credits) courses and 3 electives (9 credits).</p>
                <b>Every student is required to complete the following <u>required courses</u> (3 credits):</b><br>
                <ul>
                  <li><span><b>CHEM 6710:</b></span> Computational Chemistry (<u>3 credits</u>)</li>
                </ul>
                <p>Every student is required to complete at least 9 credits of the following <b>elective courses:</b></p>
                <ul>
                  <li><span><b>CHEM 6645: </b></span> Solid state chemistry (<u>3 credits</u>)</li>
                  <li><span><b>BIOM 6610: </b></span> Biomedical polymers (<u>3 credits</u>)</li>
                  <li><span><b>CSCI 6604: </b></span> Introduction to Programming/C (<u>3 credits</u>)</li>
                  <li><span><b>CHEM 6635: </b></span> Chromatography and Separation Science (<u>3 credits</u>)</li>
                </ul>
                <p>A student without background courses in Organic Chemistry or Physical Chemistry may need to take additional undergraduate courses.</p>
              </div>
            </div>
        </article>
      </div>

      <!-- ROW 2 -->
      <div class="row">
        <article class="blog-post">
            <div class="post-heading">
              <h3 style="text-align: center; color:blue;">Drug Discovery Chemistry Graduate Certificate (12 credits)</h3>
            </div><br>
            <div class="row">
              <div class="span12">
                <h3>Program description</h3>
                <p>
                  With the development of modern computational chemistry and experimental chemistry methods, the drug discovery process in industry has been expedited dramatically. This program is designed for students who hope to pursue for a career in pharmaceutical or healthcare industry. Students will study computational chemistry skills for simulating and analyzing drug molecules and biomolecules and experimental knowledges and methods in chemical analysis, medicinal chemistry, and biomedical polymers.
                </p>
                <p>
                  The certificate is available for students with a BS degree in physical sciences, engineering, life science, and health science who hope to acquire specialized knowledge and skills relevant to the pharmaceutical or healthcare industry.
                </p><br>
                <b>Here are the expected program outcomes for students:</b>
                <ol>
                  <li>Demonstrate understanding of the fundamental concepts and techniques of experimental and theoretical chemistry methods in drug discovery chemistry</li>
                  <li>Demonstrating the basic computational methods and skills for molecular simulations</li>
                  <li>Effectively communicate the knowledge in oral presentations.</li>
                </ol><br>
                <div class="well">
                  <div class="centered">
                    <h4>Admission Requirements</h4>
                    <p>Students must have a BS degree in physical sciences, engineering, and medical science, with a GPA of 2.75 or above. Students should have the necessary knowledge at the undergraduate level in Organic Chemistry and Physical Chemistry or other equivalent courses. Professional experiences will be taken into consideration for the admission.</p>
                  </div>
                </div>
                <p>The <span><b>Drug Discovery Chemistry Graduate Certificate (Certificate-DDC)</b></span> program at the University of New Haven (UNH) is a 1-year 12-credit hours program. As the minimal requirement, every student needs to complete 1 required (3 credits) courses and 3 electives (9 credits).</p>
                <b>Every student is required to complete the following <u>required courses</u> (3 credits):</b><br>
                <ul>
                  <li><span><b>CHEM 6710:</b></span> Computational Chemistry (<u>3 credits</u>)</li>
                </ul>
                <p>Every student is required to complete at least 9 credits of the following <b>elective courses:</b></p>
                <ul>
                  <li><span><b>CHEM 6635: </b></span> Chromatography and Separation Science (<u>3 credits</u>)</li>
                  <li><span><b>CHEM 6655: </b></span> Pharmacology (<u>3 credits</u>)</li>
                  <li><span><b>CHEM 6650: </b></span> Medicinal chemistry (<u>3 credits</u>)</li>
                  <li><span><b>BIOM 6610: </b></span> Biomedical Polymers (<u>3 credits</u>)</li>
                </ul>
                <p>A student without background courses in Organic Chemistry or Physical Chemistry may need to take additional undergraduate courses.</p>
              </div>
            </div>
        </article>
      </div>

      <!-- ROW 3 -->
      <div class="row">
        <article class="blog-post">
            <div class="post-heading">
              <h3 style="text-align: center; color:blue;">Environmental Analytical Chemistry Graduate Certificate (12 credits)</h3>
            </div><br>
            <div class="row">
              <div class="span12">
                <h3>Program description</h3>
                <p>
                 With the development of modern computational simulation methods and experimental chemical analysis methods, the environmental industry has grown dramatically. This program is designed for students who hope to pursue for a career in environmental industry such as environmental testing and analytical services, waste analysis and treatments, and pollution analysis and treatments. Students will study computational chemistry skills for simulating chemical structures and experimental knowledges and methods in chemical analysis, environmental chemistry, air pollution, or the treatment of aqueous wastes.
                </p>
                <p>
                  The certificate program is available for students with a BS degree in physical sciences and engineering who hope to acquire specialized knowledge and skills relevant to the environmental industry.
                </p><br>
                <b>Here are the expected program outcomes for students:</b>
                <ol>
                  <li>Analyze the fundamental concepts and techniques of experimental and theoretical chemistry methods in environmental analysis,</li>
                  <li>Demonstrate the basic computational methods and skills for simulating chemical structures,</li>
                  <li>Effectively communicate the knowledge in oral presentations</li>
                </ol><br>
                <div class="well">
                  <div class="centered">
                    <h4>Admission Requirements</h4>
                    <p>Students must have a BS degree in physical sciences, engineering, and medical science, with a GPA of 2.75 or above. Students should have the necessary knowledge at the undergraduate level in Organic Chemistry and Physical Chemistry or other equivalent courses. Professional experiences will be taken into consideration for the admission.</p>
                  </div>
                </div>
                <p>The <span><b>Environmental Analytical Chemistry Graduate Certificate (Certificate-EAC)</b></span> program at the University of New Haven (UNH) is a 1-year 12-credit hours program. As the minimal requirement, every student needs to complete 1 required (3 credits) courses and 3 electives (9 credits).</p>
                <b>Every student is required to complete the following <u>required courses</u> (3 credits):</b><br>
                <ul>
                  <li><span><b>CHEM 6710:</b></span> Computational Chemistry (<u>3 credits</u>)</li>
                </ul>
                <p>Every student is required to complete at least 9 credits of the following <b>elective courses:</b></p>
                <ul>
                  <li><span><b>CHEM 6635: </b></span> Chromatography and Separation Science (<u>3 credits</u>)</li>
                  <li><span><b>CHEM 6601: </b></span> Environmental Chemistry (<u>3 credits</u>)</li>
                  <li><span><b>CIVL 6601: </b></span> Physical-Chemical Treatment of Aqueous Wastes (<u>3 credits</u>)</li>
                  <li><span><b>CIVL 6661: </b></span> Air Pollution Fundamentals (<u>3 credits</u>)</li>
                </ul>
                <p>A student without background courses in Organic Chemistry or Physical Chemistry may need to take additional undergraduate courses.</p>
              </div>
            </div>
        </article>
      </div>
    </div>
  </section>
 {% endblock content %}
