{% extends "layouts/guest.html" %}
{% load static %}
{% block content %}
================================================== -->
  <section id="subintro">
    <div class="jumbotron subhead" id="overview">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="centered">
              <h3>Computing</h3>
              <p>
                Chemistry Department
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="breadcrumb">
    <div class="container">
      <div class="row">
        <div class="span12">
          <ul class="breadcrumb notop">
            <li><a href="{% url "index"%}">Home</a><span class="divider">/</span></li>
            <li class="active">Computing</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="centered" style="background-color:#94c045; padding:3px;  margin:10px;">
          <h3>Chemistry Computing</h3>
        </div>
        <ul class="portfolio-area da-thumbs">
          {% for value in image_data %}
            <li class="portfolio-item2" data-id="id-0" data-type="web">
              <div class="span4">
                <div class="thumbnail">
                  <div class="image-wrapp">
                    <img src="/media/{{ BASIC_DIR }}/{{value.computing_image}}" alt="Portfolio name" title=""  style="width:300px; height:300px;"/>
                    <article class="da-animate da-slideFromRight" style="display: block;">
                      <h4>{{value.computing_heading}}</h4>
                    </article>
                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
        </ul>
      </div>
    </div>
  </section>
  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="centered" style="background-color:#94c045; padding:3px;  margin:10px;">
          <h3>Videos</h3>
        </div>
        {% for value in video_data %}
        <div class="span4">
          <div class="well">
            <div class="centered">
              <iframe width="332" height="289"
              src="{{ value.computing_url}}">
              </iframe>
              <div class="dotted_line">
              </div>
              <h4>
                {{ value.computing_heading }}
              </h4>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
 {% endblock content %}
