{% extends "layouts/guest.html" %}
{% load static %}

{% block content %}
  <section id="subintro">
    <div class="jumbotron subhead" id="overview">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="centered">
              <h3>Faculty & Members</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="breadcrumb">
    <div class="container">
      <div class="row">
        <div class="span12">
          <ul class="breadcrumb notop">
            <li><a href="{% url 'index' %}">Home</a><span class="divider">/</span></li>
            <li class="active">Faculty</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span9">
          <!-- start article 1 -->
          {% for value in faculty%}
          <article class="blog-post faculty_card">
            <div class="row">
              <div class="span2">
                <div class="post-image">
                  <a href="#"><img src="/media/{{ BASIC_DIR }}/{{value.faculty_image}}" alt="" style="height:180px; width:180px; border-radius: 8px; "/></a>
                </div>
              </div>
              <div class="span6">
                <div class="post-heading">
                  <h5><a href="#">{{ value.name }}</a></h5>
                  <i>{{ value.designation }}</i><br>
                </div>
                <div class="clearfix">

                  {{ value.experience|safe }}

                  <p>{{ value.about }}</p>
                  <a href="{{ value.url}}" class="btn btn-small btn-success" type="button">Read more</a>
                </div>
              </div>
            </div>
          </article>
          {% endfor %}
          <!-- end article 1 -->

          <!-- <div class="pagination" style="display:flex; justify-content:center">
              <a class="btn btn-success" id="loadMore">Load More &raquo;</a>
          </div> -->
        </div>
        <div class="span3">
          <aside>
            <div class="widget">
              <form class="form-search">
                <input placeholder="Type something" type="text" class="input-medium search-query">
                <button type="submit" class="btn btn-flat btn-color">Search</button>
              </form>
            </div>
            <div class="widget">
              <h4>Apply Online</h4>
              <p>Please use the link the below to apply for the MS-CHEM program.</p>
              <a href="https://graduate.newhaven.edu/apply/">https://graduate.newhaven.edu/apply/</a>
            </div>
            <div class="widget">
              <h4>Contact Information</h4>
              <p>Please contact the graduate program coordinator if you have any questions about the application.</p>
              <p><a href="#">Dequan Xiao</a>, PHD</p>
              <p>Department of Chemistry and Chemical Engineering</p>
              <address>
                West Haven, CT 06516 <br>
                Tel: 203-479-4189 <br>
                Email: dxiao@newhaven.edu <br>
              </address>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </section>
 {% endblock content %}
 {% block script %}
    <!-- <script  src="{% static '/js/loadmore.js'%}"></script> -->
 {% endblock %}
