{% extends "layouts/guest.html" %}
{% load static %}
{% block content %}
<section id="searchsec">
    <div class="container">
      <div class="row">
        <div class="span6">
          <h2>Department of Chemistry</h2>
        </div>
        <div class="span6">
          <form class="searchform cf">
            <input type="text" placeholder="you’re looking for?">
            <button type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section id="intro">
    <div class="jumbotron masthead">
      <div class="container">
        <!-- slider navigation -->
        <div class="sequence-nav">
          <div class="prev">
            <span></span>
          </div>
          <div class="next">
            <span></span>
          </div>
        </div>
        <!-- end slider navigation -->
        <div class="row">
          <div class="span12">
            <div id="slider_holder">
              <div id="sequence">
                <ul>
                  <!-- Layer 1 -->
                  <li>
                    <div class="info animate-in">
                      <h2>Chemistry Researchers</h2><br>
                      <h3>University Of New Haven</h3>
                      <p>
                        Department of Chemistry
                      </p>
                      <a class="btn btn-success" href="research.html">Learn more &raquo;</a>
                    </div>
                    <img class="slider_img animate-in" src="{% static '/img/slides/sequence/whole_group_photo.jpg' %}" alt="" style="width: 500px; height: 500px; margin-left: 800px;">
                  </li>
                  <!-- Layer 2 -->
                  <li>
                    <div class="info">
                      <h2>Invention</h2>
                      <br>
                      <h3>Join Chemistry Club</h3>
                      <p>
                        University of New haven is offering Masters and Bachelor.
                      </p>
                      <a class="btn btn-success" href="#">Learn more &raquo;</a>
                    </div>
                    <img class="slider_img" src="{% static '/img/slides/sequence/img-1.jpg' %}" alt="" style="width: 500px; height: 500px; margin-left: 800px;">
                  </li>
                  <!-- Layer 3 -->
                  <li>
                    <div class="info">
                      <h2>HOW SOME GUT MICROBES AWAKEN ZOMBIE VIRUSES IN THEIR NEIGHBORS</h2>
                      <br>
                      <h3>Latest technology</h3>
                      <p>
                        Nature has published new research from the Balskus Lab about the effect of colibactin on the microbime. Read more via Howard Hughes Medical Institute.
                      </p>
                      <a class="btn btn-success" href="#">Learn more &raquo;</a>
                    </div>
                    <img class="slider_img" src="{% static '/img/slides/sequence/img-3.png' %}" alt="" style="width: 500px; height: 500px; margin-left: 800px;">
                  </li>
                </ul>
              </div>
            </div>
            <!-- Sequence Slider::END-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span8 features">
          <iframe width="750" height="450" src="https://www.youtube.com/embed/y1yhTh1Qg8o"></iframe><hr>
          <b>
            New Chemistry Graduate Programs (MS and PhD) are now launched at the University of New Haven. The curriculum features with a unique integrative approach, i.e., combining theoretical, computational, and experimental chemistry methods, for the purpose of solving important chemistry challenges such as molecular drug discovery, polymer materials design, catalyst design, and chemical analysis for sustainable environment. Graduates trained by this curriculum can be more competitive in career development.
          </b>
        </div>
        <div class="span3 features">
          <iframe src="https://www.newhaven.edu/about/culture-of-success.php" allowtransparency="true" allowfullscreen="true" frameborder="0" height="600" data-instgrm-payload-id="instagram-media-payload-0" scrolling="no" style="background: white; max-width: 540px; width: calc(100% - 2px); border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;"></iframe>

        </div>
      </div>
      <div class="row">
        <div class="span12">
          <div class="tagline centered">
            <div class="row">
              <div class="span8">
                <div class="tagline_text">
                  <h2>Update News</h2>
                  <p>
                    New Chemistry Graduate Programs (MS and PhD) are now launched at the University of New Haven. The curriculum features with a unique integrative approach, i.e., combining theoretical, computational, and experimental chemistry methods, for the purpose of solving important chemistry challenges such as molecular drug discovery, polymer materials design, catalyst design, and chemical analysis for sustainable environment. Graduates trained by this curriculum can be more competitive in career development.
                  </p>
                </div>
                <div class="btn-toolbar cta">
                  <a class="btn btn-large btn-color" href="/news/"><i class="icon-white"></i>Learn More</a>
                </div>
              </div>
              <div class="span3">
                <div class="well">
                  <div class="centered">
                    <h4 class="content-block-title">News Categories</h4>
                    <p><a class="btn" href="https://www.newhaven.edu//news/releases/2022/index.php" title="University News">University News</a></p>
                    <p><a class="btn" href="https://www.newhaven.edu//news/blog/2022/index.php" title="The Charger Blog">The Charger Blog</a></p>
                    <p><a class="btn" href="https://www.newhaven.edu//news/in-the-media/2022/june.php" title="In the Media">In the Media</a></p>
                    <p><a class="btn" href="https://www.newhaven.edu//news/blog/your-charger-connection.php" title="Link to Your Charger Connection news page">Your Charger Connection</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end tagline -->
        </div>
      </div>

      <!-- Charger Advantages -->
      <div class="row">
        <div class="span12">
            <div class="post-heading" style="text-align:center;">
              <h3>CHARGER ADVANTAGE</h3>
              <p>Get an inside look at what differentiates the University of New Haven and how your experiences as a student will prepare you for success.</p>
              <hr>
            </div>
        </div>
        <ul class="portfolio-area da-thumbs">
            <li class="portfolio-item2" data-id="id-0" data-type="web">
              <div class="span3">
                <div class="thumbnail">
                  <div class="image-wrapp"  style="width:200px; height:200px">
                    <img src="{% static 'img/homeapp/stem-designated-logo.png' %}" alt=""  />
                    <article class="da-animate da-slideFromRight" style="display: block;">
                      <em style="color: white;">
                        <h3 style="color:white;">STEAM DESIGNED</h3>
                      </em>
                    </article>
                  </div>
                </div>
              </div>
            </li>
            <li class="portfolio-item2" data-id="id-0" data-type="web">
              <div class="span3">
                <div class="thumbnail">
                  <div class="image-wrapp" style="width:200px; height:200px">
                    <img src="{% static 'img/homeapp/career.jpg' %}" alt=""  />
                    <article class="da-animate da-slideFromRight" style="display: block;">
                      <em style="color: white;">
                        <h3 style="color:white;">CAREER DEVELOPMENT</h3>
                      </em>
                    </article>
                  </div>
                </div>
              </div>
            </li>
            <li class="portfolio-item2" data-id="id-0" data-type="web">
              <div class="span3">
                <div class="thumbnail">
                  <div class="image-wrapp" style="width:200px; height:200px">
                    <img src="{% static 'img/homeapp/housing.jpg' %}" alt=""  />
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <h3 style="color:white;">GRADUATE STUDENT HOUSING</h3>
                    </article>
                  </div>
                </div>
              </div>
            </li>
            <li class="portfolio-item2" data-id="id-0" data-type="web">
              <div class="span3">
                <div class="thumbnail">
                  <div class="image-wrapp" style="width:200px; height:200px">
                    <img src="{% static 'img/homeapp/awards-pop.png' %}" alt=""  />
                    <article class="da-animate da-slideFromRight" style="display: block;">
                        <h3 style="color:white;">GRADUATE STUDENT HOUSING</h3>
                    </article>
                  </div>
                </div>
              </div>
            </li>
        </ul>
        <div class="span12">
            <div class="post-heading" style="text-align:center;">
              <h3>Nationally Recognized Center for Career Development</h3>
              <p>All University of New Haven students have access to the many resources available through the University’s <span><a href="https://www.newhaven.edu/student-life/career-development-center/">Career Development Center</a></span>, which has been named one of the best in the nation by <i>The Princeton Review</i>.</p>
              <hr>
            </div>
        </div>
      </div>
      <!-- END Charger Advantages -->

      <!-- Award Wining -->
      <div class="row">
        <div class="span12"  style="background-color:#94c045;">
            <div class="post-heading" style="margin: 10px; color:white;">
              <h3 style="color:white;">ACCREDITATION & AWARDS</h3>
              <p>Get an inside look at what differentiates the University of New Haven and how your experiences as a student will prepare you for success.</p>
            </div>
        </div>
        <div class="span12">
          <article class="blog-post">
            <!-- Article 1 start -->
            <div class="row">
              <div class="span4">
                <img src="https://www.newhaven.edu/_resources/images/accreditations/acs-logo.svg" style="width:250px; height:200px;">
              </div>
              <div class="span8">
                <div class="post-heading">
                  <h3><a href="#">American Chemical Society Accreditation</a></h3>
                </div>
                <blockquote>
                  <p>ACS promotes excellence in chemistry education for undergraduate students through approval of baccalaureate chemistry programs. ACS-approved programs offer a broad-based and rigorous chemistry education that gives students intellectual, experimental, and communication skills to become effective scientific professionals.</p>
                </blockquote>
                <a class="btn btn-success" href="#">Learn more &raquo;</a>
              </div>
            </div>
            <!-- Article 2 END -->

            <!-- Article 2 start -->
            <div class="row">
              <div class="span4">
                <img src="https://marvel-b1-cdn.bc0a.com/f00000000257779/www.newhaven.edu/_resources/images/engineering/news/2022/tcoe-asee-diversity-bronze-2022-24.jpg" style="width:250px; height:200px;">
              </div>
              <div class="span8">
                <div class="post-heading">
                  <h3><a href="#">ASEE Diversity Recognition Program - Bronze Level</a></h3>
                </div>
                <blockquote>
                  <p>For its diversity, equity and inclusion efforts the Tagliatela College of Engineering has been recognized at the Bronze Level by the American Society of Engineering Education's Diversity Recognition Program.</p>
                </blockquote>
                <a class="btn btn-success" href="#">Learn more &raquo;</a>
              </div>
            </div>
            <!-- Article 2 END -->

            <!-- Article 3 start -->
            <div class="row">
              <div class="span4">
                <img src="https://marvel-b1-cdn.bc0a.com/f00000000257779/www.newhaven.edu/_resources/images/awards/us-news-engineering-badge-2022.png" style="width:250px; height:200px;">
              </div>
              <div class="span8">
                <div class="post-heading">
                  <h3><a href="#">U.S. News & World Report Best Colleges - Engineering Programs</a></h3>
                </div>
                <blockquote>
                  <p>The University’s Tagliatela College of Engineering is again rated in the top third in its category (institutions that do not offer a doctorate in engineering).</p>
                </blockquote>
                <a class="btn btn-success" href="#">Learn more &raquo;</a>
              </div>
            </div>
            <!-- Article 3 END -->
          </article>
          <!-- article 1 END -->
        </div>
      </div>
    </div>
        <!-- END Award Wining -->
  </section>
{% endblock content %}
