{% extends "layouts/guest.html" %}
{% load static %}
{% block content %}
  <section id="subintro">
    <div class="jumbotron subhead" id="overview">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="centered">
              <h3>Masters of Science in Chemistry </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="breadcrumb">
    <div class="container">
      <div class="row">
        <div class="span12">
          <ul class="breadcrumb notop">
            <li><a href="#">Home</a><span class="divider">/</span></li>
            <li class="active">MS Chemistry</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span9">
          <!-- start article 1 -->
          <article class="blog-post">
            <div class="post-heading">
              <h3 style="text-align: center;"><a href="#">Program Features</a></h3>
            </div>
            <div class="row">
              <div class="span9">
                <p>
                  <strong style="font-weight: bold; color: black;">Distinguishing and Dynamic Curriculum:</strong> The Master of Science in Chemistry (MS-CHEM) at the University of New Haven is a 2-
                  years and 30-credit-hours program. The curriculum features with a unique integrative approach, i.e., combining theoretical,
                  computational, and experimental chemistry methods, for the purpose of solving important chemistry challenges such as molecular
                  drug discovery, polymer materials design, catalyst design, and chemical analysis for sustainable environment. Graduates trained
                  by this curriculum can be more competitive in career development. Dynamic curriculum designed for industry professionals to
                  meet industry needs.
                </p>
                <p>
                  <strong style="font-weight: bold; color: black;">Career-Oriented Focus Areas:</strong> There are 4 optional focus areas (see the following course catalog): 1) Drug Discovery Chemistry,
                  2) Computational and Materials Chemistry, 3) Analytical and Green Chemistry, and 4) General Chemistry. These focus areas are
                  closely resonant with the needs in academia and industry, such as in pharmaceutical, energy, materials, environmental analysis,
                  and forensic analysis industries.
                </p>
                <p>
                  <strong style="font-weight: bold; color: black;">Exceptional Research Education Plan:</strong> Students will be educated for research methods, writing, and ethics, conducting research
                  projects/thesis, and extensive research seminars (for 3 semesters). Research projects funded by NSF, NIH, NASA and industry
                  partners are available to students. Professional networking opportunities will be provided through interactions with external
                  speakers, attending conferences, and internships in industry. Students will work with expert faculty in different fields of chemistry.
                </p>
                <p>
                  <strong style="font-weight: bold; color: black;">Exceptional Research Education Plan:</strong> Students will be educated for research methods, writing, and ethics, conducting research
                  projects/thesis, and extensive research seminars (for 3 semesters). Research projects funded by NSF, NIH, NASA and industry
                  partners are available to students. Professional networking opportunities will be provided through interactions with external
                  speakers, attending conferences, and internships in industry. Students will work with expert faculty in different fields of chemistry.
                </p>
                <p>
                  <strong style="font-weight: bold; color: black;">Highly Competitive Scholarships:</strong> Scholarships are available for applicants with strong academic records. As high as 75% tuition
                  scholarships with a stipend or 50% tuition scholarships are available.
                </p>
              </div>
            </div>
          </article>
          <!-- end article 1 -->
          <!-- start article 2 -->
          <article class="blog-post">
            <div class="row">
              <div class="span4">
                <div style="border: 1px solid black; padding: 5px; ">
                <div class="post-heading">
                  <h3 style="text-align: center;"><a href="#">Core Courses</a></h3><br>
                </div>
                <table class="table">
                  <tr>
                    <th>Electives</th>
                    <th>Course Code</th>
                    <th>Course full name</th>
                    <th>Credits</th>
                  </tr>
                  <tr>
                    <td>C1</td>
                    <td>CHEM 6615</td>
                    <td>Basics of Computational Chemistry</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>C2</td>
                    <td>CHEM 6710</td>
                    <td>Computational Chemistry</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>C3</td>
                    <td>CHEM 6631</td>
                    <td>Advances in Analytical Chemistry</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>C4</td>
                    <td>CHEM 6607</td>
                    <td>Modern Organic Chemistry</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>C5</td>
                    <td>ENGR 6780</td>
                    <td>Research Methods, Writing, and Ethics</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>C6</td>
                    <td>CHEM 6682</td>
                    <td>Graduate Seminar (1 credit), must be taken 3 times</td>
                    <td>3</td>
                  </tr>
                </table>
                </div>
              </div>
              <div class="span4">
                <div style="border: 1px solid black; padding: 5px; " >
                <div class="post-heading">
                  <h3 style="text-align: center;"><a href="#">Restricted Electives</a></h3><br>
                </div>
                <table class="table">
                  <tr>
                    <th>Electives</th>
                    <th>Course Code</th>
                    <th>Course full name</th>
                    <th>Credits</th>
                  </tr>
                  <tr>
                    <td>R1</td>
                    <td>CHEM 6650</td>
                    <td>Graduate Research Project</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>R2</td>
                    <td>CHEM 6698</td>
                    <td>Thesis I</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>R3</td>
                    <td>CHEM 6699</td>
                    <td>Thesis II</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>R4</td>
                    <td>CHEM 6688</td>
                    <td>Graduate Internship</td>
                    <td>3</td>
                  </tr>
                </table>
              </div>
              </div>
            </div>
          </article>
          <!-- end article 2 -->
          <!-- start article 3 -->
          <article class="blog-post">
            <div class="row">
              <div class="span3">
                <div class="post-image"><br>
                  <a href="#"><img src="{% static '/img/dummies/coursesmap.png' %}" alt="" /></a>
                  <p style="text-align: center;"><strong style="font-weight: bold;">Area 4.</strong> General Chemistry <strong style="font-weight: bold;">(E1-14)</strong></p>
                  <p>
                    <em>Course requirements</em> for 4 focus areas in the MS-CHEM program.
                    Students are required to complete 18+ credits of core courses and 12+
                    credits of elective courses, including 3+ credits of restricted electives
                    and other elective credits in a chosen focus area.
                  </p>
                </div>
              </div>
              <div class="span6">
                <div class="post-heading">
                  <h3 style="text-align: center;"><a href="#">Electives for 4 Focus Areas</a></h3><br>
                </div>
                <table class="table">
                  <tr>
                    <th>Electives</th>
                    <th>Course Code</th>
                    <th>Course full name</th>
                    <th>Credits</th>
                  </tr>
                  <tr>
                    <td>E1</td>
                    <td>CHEM 6650</td>
                    <td>Medicinal Chemistry</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>E2</td>
                    <td>CHEM 6655</td>
                    <td>Pharmacology</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>E3</td>
                    <td>BIOM 6610</td>
                    <td>Biomedical Polymers</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>E4</td>
                    <td>CMBI 6620:</td>
                    <td>Bioinformatics</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>E5</td>
                    <td>CSCI 6604</td>
                    <td>Introduction to Programming/C</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>E6</td>
                    <td>CSCI 6610</td>
                    <td>Intermediate Programming: C/C++</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>E7</td>
                    <td>CSCI 6651</td>
                    <td>Introduction to Script Programming/Python</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>E8</td>
                    <td>MATH 6620</td>
                    <td>Numerical Analysis</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>E9</td>
                    <td>MATH 6624</td>
                    <td>Applied Mathematics</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>E10</td>
                    <td>CHEM 6645</td>
                    <td>Solid-State Chemistry</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>E11</td>
                    <td>CHEM 6635</td>
                    <td>Chromatography and Separation Science</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>E12</td>
                    <td>CIVL 6603</td>
                    <td>Contaminant Fate and Transport</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>E13</td>
                    <td>CIVL 6601</td>
                    <td>Physical-Chemical Treatment of Aqueous Wastes</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>E14</td>
                    <td>CIVL 6661</td>
                    <td>Air Pollution Fundamentals</td>
                    <td>3</td>
                  </tr>
                </table>
              </div>
            </div>
          </article>
          <!-- end article 3 -->
          <!-- start article 4 -->
          <article class="blog-post">
            <div class="post-heading">
              <h3 style="text-align: center;"><a href="#">Career Outlook</a></h3>
            </div><br>
            <div class="row">
              <div class="span9">
                <p>
                  <strong style="font-weight: bold; color: black;">Career in Chemistry:</strong> In additional to pursue for a PhD degree in chemistry in academic institutions, there are various chemistry careers and
                  professional opportunities available for holders of a Master of Science in Chemistry degree. The graduates may find
                  themselves in different specialties, such as chemical synthesis, computational analysis, and instrumental analysis, and
                  working with various subjects such as medicinal chemicals, solid-state or polymeric materials, biological samples, forensic
                  evidence, and environmental sources. Here are a few examples of career in chemistry.
                </p>
                <p>
                  <strong style="font-weight: bold; color: black;">Chemical Industry Based Chemists:</strong> In various chemistry-related industries (e.g., chemical manufacturing, pharmaceutical
                  companies, and energy companies), chemists may have job opportunities in product R&D, quality control/regulation, and
                  manufacturing. They may also work in sales/marketing and technical support.
                </p>
                <p>
                  <strong style="font-weight: bold; color: black;">Materials Scientists:</strong> In materials industries, chemists can take on the role of R&D or manufacturing of various synthetic
                  and natural materials, such as metals, glass, ceramics, semiconductors, and polymers.
                </p>
                <p>
                  <strong style="font-weight: bold; color: black;">Biochemists and Biophysicists:</strong> In this career path, chemists use the principles of chemistry and physics to conduct
                  research on living subjects or biological processes such as cell development, growth, heredity, and disease.
                </p>
                <p>
                  <strong style="font-weight: bold; color: black;">Forensic Science Technicians:</strong> As a forensic science technician, chemists can aid criminal investigators in collecting and
                  analyzing chemical evidence.
                </p>
                <p>
                  <strong style="font-weight: bold; color: black;">Environmental Scientists and Specialists, including Health:</strong> In this career path, chemists can conduct research or studies
                  for the purpose of identifying, reducing, or eliminating pollution sources in the environment.
                </p>
                <p>
                  <strong style="font-weight: bold; color: black;">Natural Sciences Managers:</strong> In this career path, the chemists take the role of supervising scientists including other
                  chemists, physicists, and biologists in activities related to R&D, quality control, and production.
                </p>
                <p>
                  <strong style="font-weight: bold; color: black;">Consulting:</strong> This career choice is particularly inviting for someone who prefers variety in work assignments.
                </p>
              </div>
            </div>
          </article>
          <!-- end article 4 -->
          <!-- start article 5 -->
          <article class="blog-post">
            <div class="post-heading">
              <h3 style="text-align: center;"><a href="#">Previous Students</a></h3>
            </div><br>
            <div class="row">
              <div class="span9">
                <p>
                  <strong>MS-CHEM</strong> is a new program, and we do not yet have program alumni. However, previous students including BS in chemistry
                  and MS in engineering who worked with our affiliated faculty were recruited into graduate programs or employment in the
                  following academic institutions:
                </p>
              </div>
              <div class="span3">
                <ul style="list-style-type: square;">
                  <li><a href="https://www.bc.edu/">Boston College</a></li>
                  <li><a href="https://duke.edu/">Duke University</a></li>
                  <li><a href="https://www.southernct.edu/">Southern Connecticut State University</a></li>
                  <li><a href="https://uconn.edu/">University of Connecticut</a></li>
                  <li><a href="https://www.uri.edu/">University of Rhode Island</a></li>
                  <li><a href="https://www.yale.edu/">Yale University</a></li>
                </ul>
              </div>
              <div class="span3">
                <ul style="list-style-type: square;">
                  <li><a href="https://www.brown.edu/">Brown University</a></li>
                  <li><a href="https://www.gatech.edu/">Georgia Institute of Technology</a></li>
                  <li><a href="https://www.psu.edu/">Pennsylvania State University</a></li>
                  <li><a href="https://www.umd.edu/">University of Maryland</a></li>
                  <li><a href="https://www.urmc.rochester.edu/">University of Rochester Medical School</a></li>
                </ul>
              </div>
              <div class="span3">
                <ul style="list-style-type: square;">
                  <li><a href="https://www.cornell.edu/">Cornell University</a></li>
                  <li><a href="https://www.harvard.edu/">Harvard University</a></li>
                  <li><a href="https://www.tufts.edu/">Tufts University</a></li>
                  <li><a href="https://www.umass.edu/">University of Massachusetts-Amherst</a></li>
                  <li><a href="https://www.usj.edu/">University of Saint Joseph</a></li>
                </ul>
              </div>
              <div class="span12">
                <p>
                  <strong>Some previous students were hired by the following companies.</strong>
                </p>
                <div class="span2">
                <img src="{% static 'img/homeapp/belcan-1.svg' %}" alt="" style="width: 140px; height: 70px;">
                </div>
                <div class="span2">
                <img src="{% static 'img/homeapp/pfizer-logo-color.png' %}" alt="" style="width: 140px; height: 70px;">
                </div>
                <div class="span2">
                <img src="{% static 'img/homeapp/laticrete.png' %}" alt="" style="width: 140px; height: 70px;">
                </div>
                <div class="span2">
                <img src="{% static 'img/homeapp/MacDermid.png' %}" alt="" style="width: 140px; height: 70px;">
                </div>
                <div class="span2">
                <img src="{% static 'img/homeapp/vertex.png' %}" alt="" style="width: 140px; height: 70px;">
                </div>
                <div class="span2">
                <img src="{% static 'img/homeapp/Honda.png' %}" alt="" style="width: 140px; height: 70px;">
                </div>
                <div class="span2">
                <img src="{% static 'img/homeapp/innophos-logo.png' %}" alt="" style="width: 140px; height: 70px;">
                </div>
                <div class="span2">
                <img src="{% static 'img/homeapp/Mathworks.png' %}" alt="" style="width: 140px; height: 70px;">
                </div>
              </div>
            </div>
          </article>
          <!-- end article 5 -->
          <!-- start article 6 -->
          <article class="blog-post">
            <div class="post-heading">
              <h3 style="text-align: center;">How To Apply</h3>
            </div><br>
            <div class="row">
              <div class="span9">
                <h4>Application to the MS-CHEM Program</h4>
                <p>Applicants to the master of science in chemistry program must have earned or be close to earning a bachelor’s degree in chemistry
                or related STEM fields and must meet some background course requirements in BS-CHEM as specified here. In addition:</p>
              </div>
              <div class="span9">
                <ul style="list-style-type: square;">
                  <li><b>GPA requirement:</b> Admission will usually require a 3.0 grade point average on a 4.0 scale. </li>
                  <li><b>Transcripts:</b>  Applicants will submit an official transcript displaying the seal of the institution and signed by the registrar. </li>
                  <li><b>Letters of recommendation:</b> No more than three letters of recommendations are required. Students must submit only
                  three letters written by those best suited to comment on the student’s academic and/or research skills </li>
                  <li><b>Personal Statement: </b> Students must submit a personal statement about their background including life experiences, why
                  they want to pursue a master’s degree in chemistry, and what are their personal aspirations and career goals. </li>
                  <li><b>TOEFL/IELTS/PTE:</b> : A minimum overall score of 75 in TOEFL, a minimum overall score of 6.0 in IELTS, or a minimum score
                  of 50 in PTE . Applicants who have earned or will earn a bachelor’s degree will be exempt from submitting a TOEFL/IELTS
                  score if the degree was earned from an institution where the language of instruction is English.  </li>
                  <li><b>GRE:</b>The GRE is NOT required for the master’s program.</li>
                </ul>
              </div>

              <div class="span9">
                <h4>Apply Online!</h4>
                <p>Please use the link the below to apply for the MS-CHEM program.</p>
                <a>https://graduate.newhaven.edu/apply/</a>
              </div><br>

              <div class="span9">
                <h4>Application to a BS+MS 5-Year (4+1) Program in Liaison with MS-CHEM</h4>
                <p>
                  For applicants who do not hold a BS degree, you can apply for a special BS+MS 5-year program in Liaison with MS-CHEM. By this
                  program, you will get a BS degree in your chosen major (e.g., Chemistry or Forensic Science) in the 4th year, and a MS degree in
                  chemistry in the 5-th year. This program allows you to save one-year of study time and financial cost on earning both BS and MS
                  degrees, and provide you better opportunity to pursue for a PhD study or to excel in your future career.
                  To apply for this special program, you must meet the admission requirements of your chosen BS program. As long as you maintain
                  an overall GPA of 3.0 or above by the end of your 2nd year of BS program study, you will be advised to take the courses for the BSMS 5-year program starting in your 3rd-year.
                </p>
              </div>
              <div class="span9">
                <h4>Apply Online!</h4>
                <p>Please use the link the below to apply for an undergraduate program (e.g., Chemistry or Forensic Science) that is in liaison with
                the MS-CHEM program. Once you are admitted into the BS program, you can contact your BS coordinator or then MS chemistry
                program coordinator to sign up for the BS+MS (4+1) program.</p>
                <a>https://www.newhaven.edu/admissions/apply/</a>
              </div>
            </div>
          </article>
          <!-- end article 6 -->
      </div>
        <div class="span3">
          <aside>
            <div class="widget">
              <h4>Apply Online</h4>
              <p>Please use the link the below to apply for the MS-CHEM program.</p>
              <p><a href="https://graduate.newhaven.edu/apply/">https://graduate.newhaven.edu/apply/</a></p>
            </div>
            <div class="widget">
              <h4>Contact Information</h4>
              <p>Please contact the graduate program coordinator if you have any questions about the application.</p>
              <p><a href="#">Dequan Xiao</a>, PHD</p>
              <p>Department of Chemistry and Chemical Engineering</p>
              <address>
                West Haven, CT 06516 <br>
                Tel: 203-479-4189 <br>
                Email: dxiao@newhaven.edu <br>
              </address>
            </div>
          </aside>
        </div>
    </div>
    </div>
  </section>
 {% endblock content %}
