{% extends "layouts/guest.html" %}
{% load static %}
{% block content %}
================================================== -->
  <section id="subintro">
    <div  class="jumbotron subhead" id="overview">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="centered">
              <h3>University of New Haven | NEWS</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span8">
           <!-- start article 1 -->

          <article class="blog-post">
            <div class="row">
              <div class="video-container">
                {% if latest_news != none %}
                <img style="width:100%; height:400px; object-fit:cover;" src="/media/{{ BASIC_DIR }}/{{latest_news.news_cover}}">
                {% endif %}
              </div>
              <h3>{{ latest_news.news_title }}</h3>
              <p>
                  {{latest_news.news_description }}
              </p>
            </div>
          </article>
          <!-- end article 1 -->
          <!-- start article 2 -->
          <article class="blog-post">
            <div class="post-heading">
              <h3><a href="#">UNIVERSITY NEWS 2022</a></h3><hr>
            </div>
            {% for value in all_news %}
            <div class="row">
              <div class="span3">
                <div class="video-container">
                  <img src="/media/{{ BASIC_DIR }}/{{value.news_cover}}">
                  </img>
                </div>
              </div>
              <div class="span5">
                <ul class="post-meta">
                  <li><a href="#">{{ value.news_category }}</a></li>
                  <li><h3 class="article-title">{{ value.news_title }}</h3></li>
                </ul>
                <div class="clearfix">
                  <p class="article-desc">{{ value.news_description }}</p>
                  <a href="{{ value.news_url }}"> <button class="btn btn-small btn-success" type="button">Read more</button> </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </article>
          <!-- end article 2 -->
          <!-- <div class="pagination">
            <ul>
              <li><a href="#">Prev</a></li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </div> -->
        </div>
        <div class="span3">
          <div class="well">
            <div class="centered">
              <h3>BROWSE NEWS & EVENTS</h3><br>
              <ul>
                <li><a href="#">News</a></li>
                <li><a href="#">Upcoming Events</a></li>
                <li><a href="#">Calender</a></li><br>
                <li><a href="/seminars/">Seminars</a></li>
              </ul><br>
              <h5>FEATURE YOUR RESEARCH</h5>
              <p>Please contact the graduate program coordinator if you have any questions about the application.</p>
              <p><a href="#">Dequan Xiao</a>, PHD</p>
              <p>Department of Chemistry and Chemical Engineering</p>
              <address>
                West Haven, CT 06516 <br>
                Tel: 203-479-4189 <br>
                Email: dxiao@newhaven.edu <br>

              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 {% endblock content %}
