{% extends "layouts/guest.html" %}
{% load static %}
{% block content %}
  <section id="subintro">
    <div class="jumbotron subhead" id="overview">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="centered">
              <h3>Overview {{title}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="breadcrumb">
    <div class="container">
      <div class="row">
        <div class="span12">
          <ul class="breadcrumb notop">
            <li><a href="{% url 'index'%}">Home</a><span class="divider">/</span></li>
            <li class="active">Overview {{title}}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span12">
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th style="width: 100px;">
                Faculty
              </th>
              <th style="width: 25px;">
                Sustainability
              </th>
              <th style="width: 25px;">
                Energy
              </th>
              <th  style="width: 25px;">
                Biomedical
              </th>
              <th  style="width: 25px;">
                Artificial Intelligence
              </th>
              <th  style="width: 25px;">
                Education
              </th>
            </tr>
            </thead>
            <tbody>
              {% for value in data %}
                  <tr style="text-align:center">
                    <td>
                      {{ value.overview_facutly.name }}
                    </td>
                    <td>
                      {% if value.Sustainability  %}
                        <a class="btn btn-success btn-small" href="{{ value.Sustainability}}">YES</a>

                      {% else %}
                        <a class="btn btn-danger btn-small" href="#">NO</a>
                      {% endif %}

                    </td>
                    <td>
                      {% if value.Energy  %}
                        <a class="btn btn-success btn-small" href="{{ value.Energy}}">YES</a>

                      {% else %}
                        <a class="btn btn-danger btn-small" href="#">NO</a>
                      {% endif %}
                    </td>
                    <td>
                      {% if value.Biomedical  %}
                        <a class="btn btn-success btn-small" href="{{ value.Biomedical}}">YES</a>
                      {% else %}
                        <a class="btn btn-danger btn-small" href="#">NO</a>
                      {% endif %}
                    </td>
                    <td>
                      {% if value.Artificial_Intelligence  %}
                        <a class="btn btn-success btn-small" href="{{ value.Artificial_Intelligence}}">YES</a>
                      {% else %}
                        <a class="btn btn-danger btn-small" href="#">NO</a>
                      {% endif %}
                    </td>
                    <td>
                      {% if value.Education  %}
                        <a class="btn btn-success btn-small" href="{{ value.Education}}">YES</a>
                      {% else %}
                        <a class="btn btn-danger btn-small" href="#">NO</a>
                      {% endif %}
                    </td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
 {% endblock content %}
