{% extends "layouts/guest.html" %}
{% load static %}
{% block content %}
  <section id="subintro">
    <div class="jumbotron subhead" id="overview">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="centered">
              <h3>Seminars</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="breadcrumb">
    <div class="container">
      <div class="row">
        <div class="span12">
          <ul class="breadcrumb notop">
            <li><a href="{% url 'index'%}">Home</a><span class="divider">/</span></li>
            <li class="active">Seminars</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="maincontent">
    <div class="container">
      <div class="row">
        <!-- Article start -->
        <div class="span8">
          <article class="blog-post">
            <div class="post-heading">
              <h3><a href="#">{{ featured_seminer.seminer_title }}</a></h3>
              <p><b>Date: </b>{{ featured_seminer.seminer_datetime}}</p>
            </div>
          <!-- start flexslider -->
          <div>
            {% if featured_seminer != None %}
                <img style="height:400px ; width:100% ; object-fit:cover;" src="/media/{{ BASIC_DIR }}/{{featured_seminer.seminar_cover}}" alt="" />
            {% endif %}
          </div>
          <hr>
          <!-- end flexslider -->
            <blockquote>
              <p>
                <span><b>Seminar Details:</b></span>
                {{ featured_seminer.seminer_description }}
              </p>
            </blockquote>
            <div class="post-heading">
              <h3><b>Details</b></h3>
            </div>
            {{ featured_seminer.seminer_details|safe }}
          </article>
            <!-- article END -->
        </div>
        <!-- ASIDE BAR -->
        <div class="span4">
          <aside>
            <div class="project-widget">
              <h4><i class="icon-48 contact"></i> CONTACT US</h4>
              <ul class="project-detail">
                <li><label>Email :</label> chemistryDepartment@unh.newhaven.edu</li>
                <li><label>Phone :</label> +1(475) 287 3252</li>
              </ul>
              <h4> HOURS</h4>
              <ul class="project-detail">
                <li> Mon. - Fri., 8:30 a.m. - 4:30 p.m.</li>
                <li><p style="color: red;">To ensure staff availability, we strongly recommend making an appointment by email or phone.</p></li>
              </ul>
            </div>
          </aside>
          <aside>
            <div class="widget">
              <h4 style="text-align:center;">Links</h4>
              <ul class="cat">
                <li><a href="https://catalog.newhaven.edu/index.php?catoid=27">Catalog Home</a></li>
                <li><a href="https://catalog.newhaven.edu/content.php?catoid=27&navoid=1883">President’s Message</a></li>
                <li><a href="https://catalog.newhaven.edu/content.php?catoid=27&navoid=1884">The University</a></li>
                <li><a href="https://catalog.newhaven.edu/content.php?catoid=27&navoid=1869">Graduate Programs</a></li>
                <li><a href="https://catalog.newhaven.edu/content.php?catoid=27&navoid=1870">Academic Policies</a></li>
                <li><a href="https://catalog.newhaven.edu/content.php?catoid=27&navoid=1871">Policies & Procedures for Ph.D. Degree</a></li>
              </ul>
            </div>
          </aside>
        </div>
        <!-- END ASIDE BAR -->
      </div><hr><br>
      <div class="row">
        <div class="span12">
          <h3 style="text-align:center;">Upcoming Seminars</h3><br>
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th style="width: 25px;">
                Date
              </th>
              <th style="width: 100px;">
                Speaker or Topic
              </th>
              <th style="width: 25px;">
                Invitee Location
              </th>
              <th  style="width: 25px;">
                Notes
              </th>
            </tr>
            </thead>
            <tbody>
            {% for value in all_seminar %}
            <tr style="text-align:center">
              <td>
                {{value.seminer_datetime}}
              </td>
              <td>
                {{value.seminer_speakers}}
              </td>
              <td>
                {{value.seminer_location}}
              </td>
              <td>
                {{value.seminer_notes}}
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div><hr><br>
      <div class="row">
        <div class="span12">
            <div class="post-heading">
              <h3 style="text-align:center;"><a href="#">Seminar Details</a></h3>
            </div><br>
          {% for value in all_seminar %}
          <!-- start article 3 -->
          <article class="blog-post">
            <div class="row">
              <div class="span3">
                <div class="">
                  <img style="height:200px ; object-fit:cover;" src="/media/{{ BASIC_DIR }}/{{value.seminar_cover}}">
                </div>
              </div>
              <div class="span8">
                <ul class="post-meta">
                  <li><h3 class="article-title">{{ value.seminer_title }}</h3></li>
                </ul>
                <div class="clearfix">
                  <p>{{ value.seminer_description }}</p>
                  <button class="btn btn-small btn-success" type="button">Read more</button>
                </div>
              </div>
            </div>
          </article>
          <!-- end article 3 -->
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
 {% endblock content %}
