{% extends "layouts/guest.html" %}
{% load static %}
{% block content %}
  <section id="subintro">
    <div class="jumbotron subhead" id="overview">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="centered">
              <h3>Students</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="breadcrumb">
    <div class="container">
      <div class="row">
        <div class="span12">
          <ul class="breadcrumb notop">
            <li><a href="#">Home</a><span class="divider">/</span></li>
            <li class="active">Students</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span10">
          <div class="container">
            <div class="row">
              <div class="span10">
                <div class="centered">
                  <h3 style="background-color:#efefef;">Graduate Students</h3>
                </div>
              </div>
            </div>
          </div>
          <!-- Start Profile 1 -->
          <div class="span3">
            <aside>
              <div class="center">
                <a href="#"><img src="{% static '/img/dummies/anton.jpg' %}" alt="" style="height:80px; width:80px; border-radius: 20px; "/></a>
              </div><br>
              <div class="widget">
                <h6>Mohammad Samiul Islam Anton</h6>
                <em>Graduate Student</em><br>
                <em>samiul_anton@yahoo.com</em>
              </div>
            </aside>
          </div>
          <!-- END Profile 1 -->

          <!-- Start Profile 2 -->
          <div class="span3">
            <aside>
              <div class="center">
                <a href="#"><img src="{% static '/img/dummies/anton.jpg' %}" alt="" style="height:80px; width:80px; border-radius: 20px; "/></a>
              </div><br>
              <div class="widget">
                <h6>Mohammad Samiul Islam Anton</h6>
                <em>Graduate Student</em><br>
                <em>samiul_anton@yahoo.com</em>
              </div>
            </aside>
          </div>
          <!-- END Profile 2 -->

          <!-- Start Profile 3 -->
          <div class="span3">
            <aside>
              <div class="center">
                <a href="#"><img src="{% static '/img/dummies/anton.jpg' %}" alt="" style="height:80px; width:80px; border-radius: 20px; "/></a>
              </div><br>
              <div class="widget">
                <h6>Mohammad Samiul Islam Anton</h6>
                <em>Graduate Student</em><br>
                <em>samiul_anton@yahoo.com</em>
              </div>
            </aside>
          </div>
          <!-- END Profile 3 -->

          <!-- Start Profile 4 -->
          <div class="span3">
            <aside>
              <div class="center">
                <a href="#"><img src="{% static '/img/dummies/anton.jpg' %}" alt="" style="height:80px; width:80px; border-radius: 20px; "/></a>
              </div><br>
              <div class="widget">
                <h6>Mohammad Samiul Islam Anton</h6>
                <em>Graduate Student</em><br>
                <em>samiul_anton@yahoo.com</em>
              </div>
            </aside>
          </div>
          <!-- END Profile 4 -->
        </div>
        <!-- <div class="span2">
          <aside>
            <div class="widget">
              <form class="form-search">
                <input placeholder="Type something" type="text" class="input-medium search-query">
                <button type="submit" class="btn btn-flat btn-color">Search</button>
              </form>
            </div>
          </aside>
        </div> -->
      </div>
      <div class="row">
        <div class="span10">
          <div class="container">
            <div class="row">
              <div class="span10">
                <div class="centered">
                  <h3 style="background-color:#efefef;">Undergrad Students</h3>
                </div>
              </div>
            </div>
          </div>
          <!-- Start Profile 1 -->
          <div class="span3">
            <aside>
              <div class="center">
                <a href="#"><img src="{% static '/img/dummies/anton.jpg' %}" alt="" style="height:80px; width:80px; border-radius: 20px; "/></a>
              </div><br>
              <div class="widget">
                <h6>Mohammad Samiul Islam Anton</h6>
                <em>Graduate Student</em><br>
                <em>samiul_anton@yahoo.com</em>
              </div>
            </aside>
          </div>
          <!-- END Profile 1 -->

          <!-- Start Profile 2 -->
          <div class="span3">
            <aside>
              <div class="center">
                <a href="#"><img src="{% static '/img/dummies/anton.jpg' %}" alt="" style="height:80px; width:80px; border-radius: 20px; "/></a>
              </div><br>
              <div class="widget">
                <h6>Mohammad Samiul Islam Anton</h6>
                <em>Graduate Student</em><br>
                <em>samiul_anton@yahoo.com</em>
              </div>
            </aside>
          </div>
          <!-- END Profile 2 -->

          <!-- Start Profile 3 -->
          <div class="span3">
            <aside>
              <div class="center">
                <a href="#"><img src="{% static '/img/dummies/anton.jpg' %}" alt="" style="height:80px; width:80px; border-radius: 20px; "/></a>
              </div><br>
              <div class="widget">
                <h6>Mohammad Samiul Islam Anton</h6>
                <em>Graduate Student</em><br>
                <em>samiul_anton@yahoo.com</em>
              </div>
            </aside>
          </div>
          <!-- END Profile 3 -->

          <!-- Start Profile 4 -->
          <div class="span3">
            <aside>
              <div class="center">
                <a href="#"><img src="{% static '/img/dummies/anton.jpg' %}" alt="" style="height:80px; width:80px; border-radius: 20px; "/></a>
              </div><br>
              <div class="widget">
                <h6>Mohammad Samiul Islam Anton</h6>
                <em>Graduate Student</em><br>
                <em>samiul_anton@yahoo.com</em>
              </div>
            </aside>
          </div>
          <!-- END Profile 4 -->
        </div>
      </div>
      </div>
  </section>
 {% endblock content %}
